<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/stylesheets/animate.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
</head>

<body>
<div class="container">
    <form action="/forgotpassword" method="post">
        <div class="top">
            <h1 id="title" class="hidden"><span id="logo">Reset your Password </span></h1>
        </div>
        <div class="login-box animated fadeInup">
            <div class="box-header">
                <a href="/"><img src="/images/home.png" style="width: 32px;display: inline;float: left;margin: 15px;"/></a>
                <h2 style="display: inline;margin-right: 4%;">Password Recovery</h2>
            </div>
            <%
            if(locals.error) {
            %>
            <label style="color: red;"><%=error%></label>
            <%
            }
            %>
            <br />
            <label for="email">Email Id</label>
            <br/>
            <input type="email" name="email" id="email" placeholder="Type registered email Id">
            <br/>
            <button type="submit" value="forgot password">Submit</button>
            <button type="button" onclick="goBack()">Go Back</button>
            <br/>
            <a href="/user/signup"><p class="large">Sign up as new user</p></a>

            </div>
    </form>
</div>
</body>

<script>
    $(document).ready(function () {
        $('#logo').addClass('animated fadeInDown');
        $("input:text:visible:first").focus();
    });
    $('#email').focus(function() {
        $('label[for="email"]').addClass('selected');
    });
    $('#email').blur(function() {
        $('label[for="email"]').removeClass('selected');
    });
    function goBack() {
        window.history.back();
    };

</script>

</html>