<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <link rel="icon"  type="image/png"  href="/images/favi.png">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/stylesheets/animate.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
</head>

<body>
<div class="container">
    <form action="/user/login" method="post">
    <div class="top">
        <h1 id="title" class="hidden"><span id="logo">Login</span></h1>
    </div>
    <div class="login-box animated fadeInUp">
        <div class="box-header">
            <a href="/"><img src="/images/home.png" style="width: 32px;display: inline;float: left;margin: 15px;"/></a>
            <h2 style="display: inline;margin-right: 18%;">Log In</h2>
        </div>
        <%
            if(locals.error) {
        %>
            <label style="color: red;"><%=error%></label>
        <%
            }
        %>
        <label for="uname">Username</label>
        <br/>
        <input type="text" name="uname" id="uname" required>
        <br/>
        <label for="pass">Password</label>
        <br/>
        <input type="password" name="pass" id="pass" required>
        <br/>
        <button type="submit">Sign In</button>
        <br/>
        <a href="/reset/forgot"><p class="small">Forgot your password?</p></a>
        <a href="/user/signup"><p class="small">New User? Sign up here...</p></a>
        <a href="/login/facebook"><p class="small">Sign In with Facebook</p></a>
    </div>
        </form>
</div>
</body>

<script>
    $(document).ready(function () {
        $('#logo').addClass('animated fadeInDown');
        $("input:text:visible:first").focus();
    });
    $('#uname').focus(function() {
        $('label[for="uname"]').addClass('selected');
    });
    $('#uname').blur(function() {
        $('label[for="uname"]').removeClass('selected');
    });
    $('#pass').focus(function() {
        $('label[for="pass"]').addClass('selected');
    });
    $('#pass').blur(function() {
        $('label[for="pass"]').removeClass('selected');
    });
</script>

</html>