<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/stylesheets/animate.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
</head>

<body>
<div class="container">
    <form action="/user/reset" method="post">
        <div class="top">
            <a href="/"><img src="/images/home.png" style="width: 32px;display: inline;float: left;margin: 15px;"/></a>
            <h2 style="display: inline;margin-right: 4%;">Reset Password</h2>
        </div>
        <div class="login-box animated fadeInup">
            <div class="box-header">
                <h2>Set new Password</h2>
            </div>
            <%
            if(locals.error) {
            %>
            <label style="color: red;"><%=error%></label>
            <%
            }
            %>
            <br />
            <label for="password">New Password</label>
            <br/>
            <input type="text" name="userid"  placeholder="Give the new password" style="display:none;" value="<%=locals.userid%>" />
            <input type="password" name="password"  placeholder="Give the new password">
            <br/>
            <label for="confirm">confirm Password</label>
            <br/>
            <input type="password" name= "cpassword"  placeholder="Give the new password">
            <br/>
            <button type="submit" value="reset password">Submit</button>
        </div>
    </form>
</div>
</body>

<script>
    $(document).ready(function () {
        $('#logo').addClass('animated fadeInDown');
        $("input:text:visible:first").focus();
    });
    $('#password').focus(function() {
        $('label[for="password"]').addClass('selected');
    });
    $('#password').blur(function() {
        $('label[for="password"]').removeClass('selected');
    });

</script>

</html>