<h2>
    INSTANT MERGE | Sharing Worksheets
</h2>
<p>
    <strong><%=username%></strong> has shared a new sheet with you on <strong>Instant Merge</strong>
</p>
<p>
    <a href="http://localhost:3000/user/login">Login</a> now to check this out.
</p>